<a href="https://colab.research.google.com/github/iamridam/Deep_learning/blob/main/MP_Neuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd
import sklearn.datasets

In [26]:
breast_cancer = sklearn.datasets.load_breast_cancer()
data = pd.DataFrame(breast_cancer.data, columns= breast_cancer.feature_names)
data['class'] = breast_cancer.target

In [27]:
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [28]:
from sklearn.model_selection import train_test_split
X = data.drop('class', axis=1)
Y = data['class']

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, stratify = Y, random_state = 1)

In [30]:
print(Y_train.mean(), Y_test.mean(), Y.mean())

0.626953125 0.631578947368421 0.6274165202108963

In [31]:
X_binarised_train = X_train.apply(pd.cut, bins=2, labels = [1,0])
X_binarised_test = X_test.apply(pd.cut, bins=2, labels = [1,0])

In [32]:
type(X_binarised_test)

pandas.core.frame.DataFrame

In [33]:
 X_binarised_train = X_binarised_train.values
 X_binarised_test = X_binarised_test.values
 type(X_binarised_train)

numpy.ndarray

In [34]:
b = 3
y_pred_train = []
acc_rows = 0
for x,y in zip(X_binarised_train, Y_train):
  y_pred_train = (np.sum(x) >= b)
  acc_rows += (y == y_pred_train)

In [35]:
print(acc_rows/X_train.shape[0])

0.626953125

In [40]:
for b in range(X_train.shape[1]+1):
  y_pred_train = []
  acc_rows = 0
  for x,y in zip(X_binarised_train, Y_train):
    y_pred_train = (np.sum(x) >= b)
    acc_rows += (y == y_pred_train) 
  print(b, acc_rows/X_train.shape[0])

0 0.626953125
1 0.626953125
2 0.626953125
3 0.626953125
4 0.626953125
5 0.626953125
6 0.626953125
7 0.626953125
8 0.626953125
9 0.626953125
10 0.626953125
11 0.626953125
12 0.626953125
13 0.626953125
14 0.630859375
15 0.6328125
16 0.642578125
17 0.6484375
18 0.65625
19 0.6640625
20 0.671875
21 0.6875
22 0.701171875
23 0.724609375
24 0.755859375
25 0.78515625
26 0.818359375
27 0.845703125
28 0.849609375
29 0.814453125
30 0.759765625

In [ ]:
for b in range(X_train.shape[1]+1):
  y_pred_train = []
  acc_rows = 0
  for x,y in zip(X_binarised_train, Y_train):
    y_pred_train = (np.sum(x) >= b)
    acc_rows += (y == y_pred_train) 
  print(b, acc_rows/X_train.shape[0])

In [42]:
b = 27
y_pred_test = []
acc_rows = 0
for x,y in zip(X_binarised_test, Y_test):
  y_pred_test = (np.sum(x) >= b)
  acc_rows += (y == y_pred_test) 
print(b, acc_rows/X_test.shape[0])

27 0.8596491228070176

In [47]:
from sklearn.metrics import accuracy_score

In [48]:
class MPNeuron:

  def __init__(self):
    self.b = None 
  
  def model(self, x):
    return (sum(x)>= self.b)
  
  def predict(self, X):
    Y = []
    for x in X:
      result = self.model(x)
      Y.append(result)
    return (np.array(Y)) 
  
  def fit(self, X, Y):
    acc = {}
    for b in range(X.shape[1]+1):
      self.b = b
      y_pred = self.predict(X)
      acc[b] = accuracy_score(y_pred, Y)
    
    b_best = max(acc, key = acc.get)
    self.b = b_best
    print('Optimal value of b', b_best)
    print('Accuracy', acc[b_best])

In [49]:
mpneuron = MPNeuron()
mpneuron.fit(X_binarised_train, Y_train)

Optimal value of b 28
Accuracy 0.849609375

In [53]:
Y_test_pred = mpneuron.predict(X_binarised_test)
acc_test = accuracy_score(Y_test_pred, Y_test)
print('Accuracy test', acc_test)

Accuracy test 0.7894736842105263